@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        font-size: 12px;
    }
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

html.lenis {
    height: auto;
}

.lenis.lenis-stopped {
    overflow: hidden;
}
